body {
	background-color: #fff;
	color: #000;
}

#header-block {
	padding-top: 1em;
	padding-bottom: 3em;
	background-color: #ffe;
}

#header-logo {
	width: 200px;
}

#header-menu {
	padding-top: 3em;
}

#header-menu li {
	display: inline;
	padding-right: 10px;
}

#content-block {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #fef;
}

#footer-block {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #eff;
}

#footer-logo {
	width: 150px;
}

#content-block-sidebar {
	background-color: #fcf;
}

#header-menu-wrapper {
	background-color: #ffc;
}

#footer-right {
	background-color: #cff;
}

.youtube-block-iframe {
	border: 0;
	width: 580px;
	height: 320px;
}