body {
	background-color: #222;
	color: #000;
	font-family: "Lato", sans-serif;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

h1, h2, h3 {
	font-family: 'PT Serif', serif;
}

h2 {
	font-weight: 700;
}

#app-wrapper {
	background-color: #fff;
}

#header-block {
	padding-top: 2em;
	padding-bottom: 1em;
	/*background-color: #ffe;*/
}

#header-logo {
	width: 200px;
}

#header-menu {
	font-size: 1.4em;
	font-weight: 300;
	padding-top: 1.7em;
}

#header-menu li {
	display: inline;
	padding-right: 45px;
}

#content-block {
	padding-top: 1em;
	padding-bottom: 1em;
	/*background-color: #fef;*/
}

#footer-wrapper {
	background-color: #222;
	color: #eee;
	padding-bottom: 25px;
}

#footer-wrapper a, #footer-wrapper a:visited, #footer-wrapper a:hover, #footer-wrapper a:active {
	color: #b0b0b0;
}

#footer-block {
	padding-top: 1em;
	padding-bottom: 1em;
	/*background-color: #eff;*/
}

#footer-logo {
	width: 200px;
	padding-top: 25px;
	filter: invert(100%);
	-webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

#content-block-sidebar {
	/*background-color: #fcf;*/
}

#header-menu-wrapper {
	/*background-color: #ffc;*/
}

#footer-right {
	/*background-color: #cff;*/
}

.youtube-block-iframe {
	border: 0;
	width: 580px;
	height: 320px;
}

#sir-trevor-editor-wrapper {
	margin-top: 15px;
	margin-bottom: 30px;
}

#small-live-player-wrapper {
	margin-left: 0px;
	padding: 10px;
	background-color: #222;
	color: #eee;
}

#small-live-player-wrapper .play-button {
	font-size: 3.5em;
	margin-right: 20px;
	margin-left: 10px;
}

#small-live-player-wrapper #program-name {
	font-size: 1.5em;
	font-weight: 600;
	font-family: 'PT Serif', serif;
}

.sidebar-post-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0px;
}

.sidebar-post-list li {
	margin-bottom: 15px;
}

.sidebar-post-list-element .post-image {
	height: 80px;
	width: 80px;
	margin-right: 10px;
}

.sidebar-post-list-element .post-program {
	font-size: 0.9em;
	font-weight: 300;
}

.sidebar-post-list-element .post-title {
	font-size: 1.2em;
	font-weight: 600;
	font-family: 'PT Serif', serif;
}

.sidebar-post-list-element .post-lead {
	font-size: 0.9em;
}

.post-box-wrapper {
	margin-bottom: 10px;
}

.post-box-wrapper h2 {
	margin-top: 10px;
	font-style: italic;
}

.post-box-image {
	height: 250px;
}

#top-post h2 {
	font-size: 3em;
}

#post-editor-wrapper label {
	text-transform: uppercase;
	font-weight: 300;
}