* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.audioplayer {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  height: 4em;
  color: #fff;
  background: #333;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

.audioplayer > div {
  position: absolute;
}

/* Back button*/

.audioplayer-previous {
  width: 4em;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  top: 0;
  padding: 1em;
  left: 0;
  text-align: center;
  border-right: 1px solid #111;
}

.audioplayer-previous:hover,
.audioplayer-previous:focus {
  background-color: #222;
}

/* Wind back button */

.audioplayer-wind-back {
  display: none;
  width: 4em;
  cursor: pointer;
  z-index: 2;
  padding: 1em;
  left: 4em;
  text-align: center;
  height: 3.5em;
  top: 1em;
}

.wind-forward-text {
  font-size: x-small;
}

.fa-stack {
  right: .5em;
  bottom: .5em;
}

/* Play button */

.audioplayer-playpause {
  width: 4em;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  top: 0;
  padding: 1em;
  left: 4em;
  text-align: center;
  border-right: 1px solid #111;
}

.audioplayer-playpause:hover,
.audioplayer-playpause:focus {
  background-color: #222;
}

/* Wind forward button */

.audioplayer-wind-forward {
  display: none;
  width: 4em;
  cursor: pointer;
  z-index: 2;
  padding: 1em;
  left: 12em;
  text-align: center;
  height: 3.5em;
  top: 1em;
}

.wind-back-text {
  font-size: x-small;
}

/* Next button */

.audioplayer-next {
  width: 4em;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  top: 0;
  padding: 1em;
  left: 8em;
  text-align: center;
  border-right: 1px solid #111;
}

.audioplayer-next:hover,
.audioplayer-next:focus {
  background-color: #222;
}

/* Time */

.audioplayer-time {
  width: 4.5em;
  font-size: small;
  height: 100%;
  line-height: 1em;
  text-align: center;
  z-index: 2;
  top: 2.25em;
}

.audioplayer-time-current {
  left: 13em;
}

.audioplayer-time-duration {
  right: 8.5em;
}

/* Progress bar */

.audioplayer-bar {
  height: 1em;
  background-color: #222;
  cursor: pointer;
  z-index: 1;
  top: 2em;
  right: 12.5em;
  left: 16.5em;
}

.audioplayer-bar div
{
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.audioplayer-bar-played  {
  background: #007fd1;
  z-index: 2;
}

/* Title */

.audioplayer-title {
  font-size: small;
  overflow: hidden;
  top: .4em;
  right: 8.5em;
  left: 11em;
  text-align: center;
}

/* Live */

.audioplayer-live {
  width: 5em;
  cursor: pointer;
  height: 100%;
  z-index: 2;
  top: 0;
  padding: 1.5em 0;
  right: 0;
  line-height: 1em;
  font-size: small;
  text-align: center;
  border-left: 1px solid #111;
}

.audioplayer-live:hover,
.audioplayer-live:focus {
  background-color: #222;
}

/* Volume */

.audioplayer-volume {
  width: 4em;
  cursor: pointer;
  height: 100%;
  z-index: 2;
  top: 0;
  padding: 1em;
  right: 4.5em;
  text-align: center;
  border-left: 1px solid #111;

}

.audioplayer-volume:hover,
.audioplayer-volume:focus {
  background-color: #222;
}

.audioplayer-volume-adjust {
  width: 100%;
  height: 12em;
  cursor: default;
  position: absolute;
  left: 0;
  display: none;
  background: #222;
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
  opacity: 0;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
  display: block;
  bottom: 100%;
}

.audioplayer-volume-adjust > div {
  width: 40%;
  height: 80%;
  background-color: #555;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 30% auto 0;
}

.audioplayer-volume-level {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #007fd1;
}

/* Mobile */

@media(max-width: 991px){

  .audioplayer {
    height: 6em;
  }

  /* Back button*/

  .audioplayer-previous {
    border-right: 0;
    height: 3.5em;
    top: 1em;
    left: 4em;
  }

  .audioplayer-previous:hover,
  .audioplayer-previous:focus {
    background-color: transparent;
  }

  /* Wind back button */

  .audioplayer-wind-back {
    display: block;
  }

  /* Play button */

  .audioplayer-playpause {
    border-right: 0;
    height: 3.5em;
    top: 1em;
    position: relative !important;
    margin: 0 auto;
    left: auto;
  }

  .audioplayer-playpause:hover,
  .audioplayer-playpause:focus {
    background-color: transparent;
  }

  /* Wind forward button */

  .audioplayer-wind-forward {
    display: block;
  }

  .wind-back-text {
  }

  /* Next button */

  .audioplayer-next {
    border-right: 0;
    height: 3.5em;
    top: 1em;
    right: 4em;
    left: auto;
  }

  .audioplayer-next:hover,
  .audioplayer-next:focus {
    background-color: transparent;
  }

  /* Time */

  .audioplayer-time {
    top: 5em;
  }

  .audioplayer-time-current {
    left: 1em;
  }

  .audioplayer-time-duration {
    right: 1em;
  }

  /* Progress bar */

  .audioplayer-bar {
    top: 4.5em;
    left: 5em;
    right: 5em;
  }

  /* Title */

  .audioplayer-title {
    left: 1em;
    right: 1em;
  }

  /* Live */

  .audioplayer-live {
    border-left: 0;
    height: 3.5em;
    top: 1em;
  }

  .audioplayer-live:hover,
  .audioplayer-live:focus {
    background-color: transparent;
  }

  /* Volume */
  /* You cannot set volume through HTML on mobile */

  .audioplayer-volume {
    display: none;

  }

  .audioplayer-volume-adjust {
    display: none;
  }
}
